body {
    margin: 0;
    min-height: 100vh;
    background-attachment: fixed;
    background-image: url("img-logo/fundo.png");
    background-size: cover;
    background-position: center;
}

.fundo-secundario {
    margin: 0 auto;
    width: 1000px;
    height: 1500px;
    margin-top: 500px;
    margin-bottom: 500px;
    margin-left: 100px auto;
    margin-right: 100px auto;
    background-color: white;
    border: 0px solid black;
    border-radius: 70px;
    box-shadow: 20px -50px 10px rgba(20, 20, 20, 0.7);
}
#borda-choco {
    height: 300px;
    width: 1000px;

    border-radius: 60px;
}